.sfondo_verde{
    background-color: #b1d281;
}
.flex_wrap{
    flex-wrap: wrap;
}
.d_flex{
    display: flex;
}
.flex_center{
    justify-content: center;
}
header img{
    height: 200px;
}
.sfondo_verde > a{
    text-decoration: none;
    padding: 25px;
    font-weight: 900;
    color: white;
}
.sfondo_verde > a:hover{
    text-decoration: underline;
    color: #002d75;
}
main{
    background-image: url(img/fondo-pag.jpg);
}
.titoletto > h1{
    color: #002d75;
}
.card{
    width: 300px;
    height: 200px;
    margin: 25px;
}
.card > img {
    width: 300px;
    height: 200px;
}